
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.container{
display: flex;
flex-direction: column;
justify-content: center;
}

.card{     
    display: flex;
    width: 232px;
    height: 331px;
    object-fit: none;    
    border-radius: 20px;
}

.container:hover .card{
    filter:brightness(70%);           
}

.container:hover .tools{
    opacity: 100%;           
}

.container:hover .save{
    opacity: 100%;           
}

.link:hover{
    filter:brightness(85%);
}
.upload:hover{
    filter:brightness(85%);
}
.dots:hover{
    filter:brightness(85%);
}
.save:hover{
    filter:brightness(85%);
}

.save{    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -150px;
    top: -320px;    
    width: 70px;
    height: 48px;
    background-color: #ff0000;
    border-radius: 24px;
    cursor: pointer; 
    opacity:0%;
    transition: opacity;    
}

.save p{
    color: white;
    margin: 0px;
    font-size: 16px;
    font-weight:600;
    font-family: Arial, Helvetica, sans-serif;
    
}


.dots {    
    object-fit:fill;  
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer; 
}
.upload {
    object-fit:fill;    
    position: relative;   
    width: 40px;
    height: 40px;
    border-radius: 20px; 
    cursor: pointer;    
}

.link {
    object-fit:fill;    
    position: relative;   
    width: 120px;
    height: 40px;
    border-radius: 20px; 
    cursor: pointer;  
}

.tools{
    display: flex;
    justify-content: space-around; 
    position: relative;  
    right: 0px;
    top: -100px;
    opacity:0%;
    transition: opacity;       
}



