body{
    display:flex;
    flex-direction: column; 
    margin: 0px;         
    }

#header{
    display:block;    
    height: 16vh;
}
    #logo{
        height: 70%;
        display: flex;
        justify-content: center;   
    }
    #logo img{
        display: block;    
        padding: 1em;              
    }
    #lower_bar{
        display: flex;
        justify-content: center;
        height: 30%;
        margin: 0;
        align-items: center;
        background: #fdfbf1;
        border-top: 2px solid #fee6a8;
    }
    #lower_bar p{   
        margin: 0;
        align-content: center;
        color: #004544;    
    }

#main{
    display:flex;  
    flex-direction: column;  
    align-items: center;  
    margin: 0 45vh;  
    min-width: 50%; 
}

#first_part{
    display:flex;  
    flex-direction: column;  
    align-items: center;
        
}
    #title{
        display:flex;  
        flex-direction: column;  
        align-items: center;
    }
    #center{
        display:flex;  
        flex-direction: column;  
        align-items: center;
        
    }
    #center img{
        width: fit-content;
        width: 100%;
    }
    #bottom{
        display:flex;  
        flex-direction: column;         
        font-weight: 500;
        border-left: 2px solid #fee6a8;
        padding-left: 10px;
        align-self: flex-start;
    }
    #bottom p{
        margin: 0px;
    }


#second_part{
    display:flex;  
    flex-direction: column;  
    align-items: flex-start;  
}

    /* 
    #ingredients{
              
    }
    #method{
              
    }
    */

#footer{
    display:block;
}
    #footer div{
        margin: 0 45vh;
    }







